snips_nlu_parsers
fliar==0.9
pytorch-crf
seqeval
cd trained_models/distilbert_hmm
wget https://huggingface.co/distilbert-base-uncased/resolve/main/pytorch_model.bin
wget https://huggingface.co/distilbert-base-uncased/resolve/main/config.json

cd trained_models/distilroberta_hmm
wget https://huggingface.co/roberta-base/resolve/main/config.json
wget https://huggingface.co/roberta-base/resolve/main/pytorch_model.bin

python3 -m spacy download en_core_web_sm
python3 -m spacy download en_core_web_trf
python3 -m spacy download en_core_web_md

text= 'Joe went to Chicago.'
weak_labels = {'labeler1': [{'name': 'PER', 'pos': [0,2], 'tpos': [0,0], 'text': 'Joe', 'confidence': 1}], 'labeler2': [{'name': 'ORG', 'pos': [0,2], 'tpos': [0,0], 'text': 'Joe', 'confidence': 1}], 'labeler3': [{'name': 'PER', 'pos': [0,2], 'tpos': [0,0], 'text': 'Joe', 'confidence': 1}]}

