# the following packages to be installed by pip
pip install snips_nlu_parsers
pip install flair==0.9
pip install pytorch-crf
pip install seqeval
pip install flask-restful
pip install skweak


# create a folder under trained_models, and download the pretrained model files there, those files are in gitignore (too large)
cd curation_endpoints/trained_models/distilbert_hmm
wget https://huggingface.co/distilbert-base-uncased/resolve/main/pytorch_model.bin
wget https://huggingface.co/distilbert-base-uncased/resolve/main/config.json

cd curation_endpoints/trained_models/distilroberta_hmm
wget https://huggingface.co/roberta-base/resolve/main/config.json
wget https://huggingface.co/roberta-base/resolve/main/pytorch_model.bin

pip install spacy
# download spacy models
python3 -m spacy download en_core_web_sm
python3 -m spacy download en_core_web_trf
python3 -m spacy download en_core_web_md



